/* GENERELLE farger og styler som er basis*/
/* Hvilke fonter skal vi bruke?

/* Eventuelt legge til fler, + en for print
/* Kanskje noe for landskap/portrett
/* @import url(mobil.css) (min-width:300px);
/* @import url(tablet.css) (min-width:600px);
/* @import url(desktop.css) (min-width:1200px;)
*/

html {
	font-size: 16px;
}
body {
	background: linear-gradient(to right, rgba(127,255,212, 0.0), rgba(127,255,212, 1.0), rgba(127,255,212, 1.0), rgba(127,255,212, 0.0));
	padding: 0 10%;
	margin: 0 auto;
	
}
.nb {
	font-weight: bold;
}
* {
	font-family: verdana, sans-serif;
	color: #000;
	/*font-size: 100%;*/
}
header picture source {
	width: 100%;
}
header picture img {
	width: 100%;
}
header picture {
	width: 100%;
}
article {
	background-color: #878787;
	margin: 0 -2em;
	
}
article p {
	font-size:60%;
	padding: 0.5em 0.2em;
	margin: 0 auto;
}

.socMediaBtn {
	/* Endre disse ved breakpoints*/
	/* Finne SVGer for andre ikoner*/
	z-index: 2;
	align-self: center;
	transform: translateY(5%);
}
.wiki{
	background: white;
	border-radius: 0.3em;
}
.facebook {
	border-radius: 0.3em;
	background: white;
	background-size:90%
}
a {
	display: inline-flex;
}
.site-wrap {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
	font-size: 2rem;

}

div div a{
	margin: 0 1em;
}
div div a img {
	max-width: 2em;
	max-height: 2em;

}

h1,h2,h3,h4,h5,h6 {
	background-color: #262626;
	color:#cfcfcf;
	padding:0.3em;
	text-align: center;
}
div > header {
	/*Bakgrunnen til logo-container */
	background: linear-gradient(to bottom right, white,#901309,#590402);
}
header h1,h2,h3{
	/* FÅR HEADER TIL Å "HENGE" fast øverst på siden */
	margin:0 auto;
}

/*Bildene - legge inn en transition effekt?*/

#arrowright{	
	height: 5em;	
	width: 5em;	
	position: relative; bottom: 9em; left: 9em;	
}



.thumbnails{
	border-top: 0.2em solid blue;	
	border-bottom: 0.2em solid blue;
	display: flex;
	height: 22em;	
}

.thumbnails img {
	height: 10em;
	border: 4px solid #555;
	border-radius: 0.2em;
	padding: 1px;
	margin: 0 10px 10px 0;
	overflow-x: auto;
	float: left;
}



.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}



.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 400px;
}


	/* en klasse for ting som skal skjules */
.ikkeMobil{
	display: none;
}

.thumbnails{
	display: none;
} 



.thumbnails img {
	height: 300px;
	width: 250px;		
	display: none;
}	

p{
	margin: 0;
	color: black;
}

*{font-size: 100%}
	
div > a >img {
	max-width: 4em;
	max-height: 4em;
}

	/*Bildene */
#arrowright{
	height: 5em;
	width: 5em;	
	position: relative; bottom: 17em; left: 17em;		
}

.thumbnails{
	display: flex;
	background: grey;		
}

.thumbnails img {
	height: 10em;
	width: 8em;
	border: 0.2em solid #555;
	margin: 0 10px 10px 0;
	overflow-x: auto;	
	display: flex;
}



.thumbnails img:hover {
	border: 0.2em solid #00ccff;
	cursor:pointer;
}



.preview img {

	border: 0.2em solid #444;
	border-radius: 0.2em;
	width: 40em;
	height: auto;
}

.site-wrap{
	flex-direction: column;
}



