/* GENERELLE farger og styler som er basis*/ 

/* Medium - Høy kontrast mellom tekst og bakgrunn gir leselig tekst , s.253 i "HTML & CSS".
/* Ulike fargetoner, fra svart --> lysere: #0f0f0f, #262626, #3e3e3e,#575757,#6f6f6f,#878787,#9f9f9f,#b7b7b7,#cfcfcf,#e7e7e7,#ffffff
/* PROTIP: de fleste texteditorene har utvidelser som gjør at når du holder musa over/markerer noen av fargene over, 
/* så blir tekstfargen=hexkoden, istedenfor en kjedelig hexkode du må copy-paste et annet sted for å se ;)
/*
/* Eksempel: alle overskrifter får mørk bakgrunn og lys tekst: */

/* BYTT GJERNE FRA VERDANA, men den er relativt vanlig */

/* hardkoder font-size så ingen nettleseres standarder kan ødelegge */ 
html {
	font-size: 16px;
}
* {
	font-family: verdana, sans-serif;
	color: #000;
}

h1,h2,h3,h4,h5,h6 {
  background-color: #262626;
  color:#cfcfcf;
  text-align: center;
}

body {
	background-color: #3e3e3e;
	margin:0 auto;
}

article {
	margin: 2em 2em;
	background-color: #878787;
}

