/* GENERELLE farger og styler som er basis*/
/* Hvilke fonter skal vi bruke?

/* Eventuelt legge til fler, + en for print
/* Kanskje noe for landskap/portrett
/* @import url(mobil.css) (min-width:300px);
/* @import url(tablet.css) (min-width:600px);
/* @import url(desktop.css) (min-width:1200px;)
*/
@media (min-width:768px and max-width:1024px){
	h2{
		color:blue;
	}
}


html {
	font-size: 16px;
}
body {
	background: linear-gradient(to right, rgba(127,255,212, 0.0), rgba(127,255,212, 1.0), rgba(127,255,212, 0.0));
	background-image: url("../Bilder/test.jpg"), url("../Bilder/test.jpg");
	background-size: 50% 100%, 50% 100%;
	background-position: left top, right top;
	background-repeat: no-repeat, no-repeat;
	
}
.nb {
	font-weight: bold;
}
* {
	font-family: verdana, sans-serif;
	color: #000;
}
header picture source {
	width: 100%;
}
header picture img {
	width: 100%;
}
header picture {
	width: 100%;
}
article {
	background-color: #878787;
}
article p {
	font-size:60%;
	padding: 0.5em 0.2em;
}
header picture {
	max-width: 100%;
}

.socMediaBtn {
	/* Endre disse ved breakpoints*/
	/* Finne SVGer for andre ikoner*/
	z-index: 2;
	align-self: center;
	transform: translateY(5%);
}
.wiki{
	background: white;
	border-radius: 0.3em;
}
a {
	display: inline-flex;
}
.site-wrap {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;

}

main {
	
}
div div a{
	margin: 0 1em;
}
div div a img {
	max-width: 2em;
	max-height: 2em;

}
div header {
	
}
h1,h2,h3,h4,h5,h6 {
  background-color: #262626;
  color:#cfcfcf;
  padding:0.3em;
  text-align: center;
}
div > header {
	/*Bakgrunnen til logo-container */
	background: linear-gradient(to bottom right, white,#901309,#590402);
}
header h1,h2,h3{
	/* FÅR HEADER TIL Å "HENGE" fast øverst på siden */
	margin:0 auto;
}
/*div header >img{
	margin: 0.2em;
<<<<<<< Updated upstream
  max-width: 5em;
  max-height: 5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}*/
=======
  	max-width: 5em;
  	max-height: 5em;
  	position: relative;
  	left: 50%;
  	transform: translateX(-50%);
}
>>>>>>> Stashed changes

article header{
}


/*body {
	background: #222;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}*/

/*Bildene - legge inn en transition effekt?*/

#arrowright{
		
		height: 5em;
		
		width: 5em;
		
		position: relative; bottom: 9em; left: 9em;
		
}



.thumbnails{

	border-top: 0.2em solid blue;	

	border-bottom: 0.2em solid blue;

	display: flex;
	
	height: 22em;
	

}

.thumbnails img {

	height: 10em;

	border: 4px solid #555;

	border-radius: 0.2em;

	padding: 1px;

	margin: 0 10px 10px 0;

	overflow-x: auto;
	
	float: left;



}



.thumbnails img:hover {

	border: 4px solid #00ccff;

	cursor:pointer;

}



.preview img {

	border: 4px solid #444;

	padding: 1px;

	width: 400px;

}



/*For små enheter,max-width gjelder INNTIL 350px */
@media (max-width: 350px) {
	html {

	}
	/* en klasse for ting som skal skjules */
	.ikkeMobil{
		display: none;
	}
	* {
		font-family: verdana, sans-serif;
		color: #000;
	}
	article {
		background-color: #878787;
	}
	article p{
		padding: 0.5em;
	}
	header{
		background: transparent;
		border: 0;
	}
	/* SKAL style skiplogoen. se om slektoren kolliderer med noe annet*/
	/*div header img{
		max-width: 5em;
		max-height: 5em;
	}*/

	h1,h2,h3,h4,h5,h6 {
	  background-color: #262626;
	  color:#cfcfcf;
	  text-align: center;
	}

	/*body {
		background-color: #3e3e3e;
		padding: 0;
		margin:0 auto;
		font-family: Arial, Helvetica, sans-serif;
	}*/
	.preview img {



	}



	.thumbnails{


	display: none;
	

	} 



	.thumbnails img {

			height: 300px;

			width: 250px;
			
			display: none;

	}
	.site-wrap{

	}
	
	/* SLUTT 400px */
}
/* PADDER OG MINDRE SKJERMER*/
@media (min-width: 768px) {
	*{
		font-size: 100%;
	}
	p{
		margin: 0;
	}

	article p {
		padding: 0.5em;
		margin: 0 auto;
	}
	/*SLUTT 620px */
}

/* Store widescreens */
@media (min-width : 1024px)	{
	*{font-size: 100%}
	p {
		color: black;
	}
	/*main header {
		 Trenger kanskje en under min-width = 600px? Lite mellomrom på toppen
		transform: translateY(-5%);
	}
	/* Styler skiplogoen*/
	/*div >header >img{
		max-width: 10em;
		max-height: 10em;
		position: relative;

	}*/

	div > a >img {
	max-width: 4em;
	max-height: 4em;
	}

	body {
		padding: 0 10%;
		margin: 0 auto;
	}

	article {
		margin: 0 -2em;
		background-color: #878787;
	}
	article p{
		padding: 1em;
	}

	footer {
		position: relative;
		bottom: -1.5em;
	}
	/*Bildene */
	#arrowright{
	
		height: 5em;
		
		width: 5em;
		
		position: relative; bottom: 17em; left: 17em;
		
	}

	.thumbnails{

		display: flex;

		background: grey;
		
		



	}

	.thumbnails img {

		height: 10em;
		
		width: 8em;

		border: 0.2em solid #555;

		margin: 0 10px 10px 0;

		overflow-x: auto;
		
		display: flex;



	}



	.thumbnails img:hover {

		border: 0.2em solid #00ccff;

		cursor:pointer;

	}



	.preview img {

		border: 0.2em solid #444;

		border-radius: 0.2em;

		width: 40em;

		height: auto;

<<<<<<< Updated upstream
	}
=======
	.site-wrap{
		flex-direction: column;
	}

>>>>>>> Stashed changes
}
