.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  /*left: 18%;*/ 
  top: 7%;
  z-index: 2;
  
   /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}
.navMenu {
	width: 50%;
	/*height: 70%;*/
	border: 1px solid;
	position: absolute;
	left: -100%;
	top: 7%;
	z-index: 1;
	background-color: white;
}
.navigation {
	list-style: none;
	overflow: hidden;
	min-height: 100%;
	padding: 0;
	margin: 0;
	
}
.nav-item {
	list-style: none;
}

.nav-item a {
  /* non-critical appearance styles */
  width: 90%;
  display: block;
  padding: 1.2em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.nav-trigger + label, .navMenu {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 52%;
}

.nav-trigger:checked ~ .navMenu {
  position: fixed;
  left: 0;
  top: 7%;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}