<<<<<<< HEAD
html{
	font-size: 18px;
	font-family: serif;
}
aside {
	display:none;
}

nav {
	display:none;
}


=======
/*EGEN FOR PRINT. FJERN ALT TULL, ENDRE FONT OG STØRRELSE */ 
>>>>>>> 36ec0ccdb37b71a6e154f0e95ae66d009ee3d06c
