
/* Medium - Høy kontrast mellom tekst og bakgrunn gir leselig tekst , s.253 i "HTML & CSS".
/* Ulike fargetoner, fra svart --> lysere: #0f0f0f, #262626, #3e3e3e,#575757,#6f6f6f,#878787,#9f9f9f,#b7b7b7,#cfcfcf,#e7e7e7,#ffffff
/* PROTIP: de fleste texteditorene har utvidelser som gjør at når du holder musa over/markerer noen av fargene over, 
/* så blir tekstfargen=hexkoden, istedenfor en kjedelig hexkode du må copy-paste et annet sted for å se ;)
/*
/* Eksempel: alle overskrifter får mørk bakgrunn og lys tekst: */

/*Test for mobil! TEST GJERNE I BROWSERN DIN */ 

@media only screen and (max-width: 320px) {
	p{
		margin: 0;
		color:red;
	}
} 
